.job_details {
    padding-top: 120px;
    padding-bottom: 120px;
}
.job_details .content_left p {
    padding-bottom: 20px;
}
.job_details .content_left p b {
    color: #222;
}
.job_details .content_right .job_content {
    margin-bottom: 30px;
}
.job_details .content_right h4 {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.job_details .content_right ul li {
    padding-bottom: 15px;
}
.job_details .content_right ul li b {
    color: #222;
}
.job_details .content_right .contact_info {
    margin-bottom: 30px;
}
